@tailwind base;
@tailwind components;
@tailwind utilities;

/* ************** */
/*  CUSTOM FONTS  */
/* ************** */

/* MINDFUTURE FONT */
@font-face {
    font-family: Mindfuture;
    src: url('~/assets/fonts/Mindfuture-Bold.otf') format('opentype');
}

/* SATOSHI FONT */
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

/* HELLIX FONT */
@font-face {
    font-family: "Hellix";
    src: url("~/assets/fonts/Hellix-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Hellix";
    src: url("~/assets/fonts/Hellix-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Hellix";
    src: url("~/assets/fonts/Hellix-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Hellix";
    src: url("~/assets/fonts/Hellix-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Hellix";
    src: url("~/assets/fonts/Hellix-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Hellix";
    src: url("~/assets/fonts/Hellix-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Hellix";
    src: url("~/assets/fonts/Hellix-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Hellix";
    src: url("~/assets/fonts/Hellix-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}


/* **************** */
/*  CUSTOM STYLING  */
/* **************** */

body {
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;

    @apply text-body-light bg-background scroll-smooth;
}

h1, h2, h3, h4 {
    font-family: 'Hellix', sans-serif;
    font-weight: 700;
}

h1 {
    @apply text-[28vw] lg:text-[16vw];
}

h2 {
    @apply text-[12vw] lg:text-[5vw] leading-none;
}

h2.no-grow {
    font-size: 100px !important;
}

h3 {
    @apply text-body-gray-light text-[6vw] lg:text-[1.5vw];
}

h4 {
    @apply text-body-gray-light lg:text-[1vw];
}

p {
    @apply text-xs lg:text-base;
}

.mindfuture {
    font-family: 'Hellix', sans-serif;
}

img.dark-overlay {
    @apply grayscale;
}

video.fullscreen {
    @apply absolute z-0 object-cover w-full h-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

video.fullscreen:-webkit-media-controls {
    display: none !important;
}

.pillar-box {
    @media only screen and (min-width: 1024px) {
        clip-path: polygon(
            10% 0%, 100% 0, 100% 0, 100% 88%, 90% 100%, 0 100%, 0 100%, 0% 12%
        );
    }
    @media only screen and (max-width: 1024px) {
        clip-path: polygon(
            5% 0%, 100% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 100%, 0% 5%
        );
    }
}

.sticky-button {
    z-index: 999999;
    transition: margin-left ease-in-out 200ms;

    @media only screen and (min-width: 1024px) {
        margin-top: 1.85rem !important;
    }

    @media only screen and (max-width: 1024px) {
        margin-top: 0.9rem !important;
    }
}

.sticky-button--scrolled {
    @apply !ml-16 lg:!ml-32;
}

.text-appear {
    @apply translate-y-full transition-transform ease-in-out duration-1000;
}

.text-appear--visible {
    @apply translate-y-0;
}

/* ********** */
/* ANIMATIONS */
/* ********** */

.text-scroll {
    animation: scrollText 66s infinite linear;

    @apply flex space-x-16 items-center justify-start whitespace-nowrap transition-all duration-1000 ease-in;
}

.slideInLeft, .slideInRight {
    opacity: 0;
}

.slideInLeft.animate {
    opacity: 1;
    animation: slideInLeft 2000ms ease-in-out;
}

.slideInRight.animate {
    opacity: 1;
    animation: slideInRight 2000ms ease-in-out;
}

.bar-link {
    @apply p-[2vw] px-[2.2vw] block relative z-10 text-[1vw];
}

.bar-link::after {
    content: '';
    @apply bg-secondary absolute top-0 bottom-0 left-0 right-0 w-0 -z-10 opacity-0;
}

.bar-link:hover {
    @apply text-body-dark font-bold;
}

.bar-link > span {
    @apply ml-4 text-primary;
}

.bar-link:hover > span {
    @apply !text-body-dark;
}

.bar-link:hover::after {
    @apply w-full opacity-100;
    animation: fillLink 500ms ease-in-out;
}

@keyframes fillLink {
    from {
        @apply w-0 opacity-0;
    }
    to {
        @apply w-full opacity-100;
    }
}

@keyframes scrollText {
    from   { transform: translateX(0%); }
    to { transform: translateX(-50%); }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translate(-10%);
    }
    75% {
        opacity: 1;
        transform: translate(3%);
    }
    100% {
        opacity: 1;
        transform: translate(0%);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translate(10%);
    }
    75% {
        opacity: 1;
        transform: translate(-3%);
    }
    100% {
        opacity: 1;
        transform: translate(0%);
    }
}